---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Background1 from '../components/Background1.astro';
---

<Layout title="Portafolio Daniel Amado" lang="es">
	<Background1 />
	<Header />
	<main class="overflow-hidden">
		<div class="max-w-screen-xl mx-auto">
			<Hero />
			<Hero />
		</div>

	</main>
</Layout>
