---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../sections/Hero.astro";
import Background1 from "../components/Background1.astro";
import About from "../sections/About.astro";
import Lottie from "../components/Lottie.astro";
import { HeroData, AboutData, ExperienceData } from "../data/portafolio-es.ts";
import Experiencia from "../sections/Experiencia.astro";
---

<Layout title="Portafolio Daniel Amado" lang="es">
  <Background1 />
  <Header />
  <main class="overflow-clip p-3 lg:p-0">
    <div class="max-w-[1200px] mx-auto">
      <Hero heroData={HeroData} />
      <Lottie />
      <About aboutData={AboutData} />
      <Experiencia experienceData={ExperienceData} />
    </div>
  </main>

</Layout>
