---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Background1 from "../components/Background1.astro";
import About from "../components/About.astro";
import Lottie from "../components/Lottie.astro";
---

<Layout title="Portafolio Daniel Amado" lang="es">
  <Background1 />
  <Header />
  <main class="overflow-clip p-3 lg:p-0">
    <div class="max-w-screen-xl mx-auto">
      <Hero />
      <Lottie />
      <About />
    </div>
  </main>

</Layout>
