---

---

<div class="max-w-screen-xl mx-auto relative">
  <div class="absolute inset-x-0 top-0 pointer-events-none">
    <img width="1280px" height="547px" class="max-w-full h-auto" src="/img/bg.webp" alt="Fondo web" decoding="async" loading="eager">
  </div>
</div>