---

---

<button id="btn-gohome" class="fixed z-50 bottom-3 right-3 p-2 rounded-full border border-gray-800 bg-slate-700 hover:border-azul-cielo">
  <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 15L10 9.84985C10.2563 9.57616 10.566 9.35814 10.9101 9.20898C11.2541 9.05983 11.625 8.98291 12 8.98291C12.375 8.98291 12.7459 9.05983 13.0899 9.20898C13.434 9.35814 13.7437 9.57616 14 9.84985L19 15" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</button>

<style>
  #btn-gohome {
    animation: show-gohome linear both;
    animation-timeline: scroll(root block);
    animation-range: 500px 600px;
  }

  @keyframes show-gohome {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<script>
  let btnGoHome = document.getElementById('btn-gohome');

  btnGoHome?.addEventListener('click', goHome);
  function goHome() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>