---
---
<div class="max-w-sm mx-auto flex justify-center">
  <a href="#about" class="inline-block">
    <dotlottie-player src="lottie/scroll.json" background="transparent" speed="1" style="width: 100px; height: 100px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
  </a>
</div>
