---
---
<div class="max-w-sm mx-auto flex justify-center mb-32">
  <a href="#" class="inline-block">
    <canvas id="canvas" width="50" height="50"></canvas>
  </a>
</div>

<script type="module">
  import { DotLottie } from "../../public/js/lottie.js";

  const repeatCount = 3;  // Número de repeticiones
  let currentRepeat = 0;  // Contador de repeticiones actuales

  const lottieInstance = new DotLottie({
    autoplay: true,
    canvas: document.getElementById("canvas"),
    src: "lottie/2.json",
    speed: 0.5,
  });

  lottieInstance.addEventListener('complete', () => {
    currentRepeat++;
    if (currentRepeat < repeatCount) {
      lottieInstance.play();
    }
  });

</script>