---
export interface Props {
  parrafo: string;
  size?: string;
  color?: string;
}

const { parrafo, size = "text-lg", color= "text-gray-300" } = Astro.props;
---

<p class={`${size} ${color}  text-pretty`}  set:html={parrafo}></p>