---
interface Props {
  fontsize?: string;
}

const { fontsize = "text-base" } = Astro.props;
---

<div
  class=`w-fit bg-gradient-to-r from-blue-900 to-azul-cielo text-white py-1 px-4 rounded-full mb-4 ${fontsize}`
>
  <slot />
</div>
